body{
  background-color: black;
  font-family: Roboto;
}

#logo {
  margin: 0 auto;
  display: block;
}

h1{
  color: pink;
}

h2{
  color: white;
}

#mc_embed_signup{
  border: 2px solid blue;
  text-align: center;
  font-size: 20px;
  color: white;
}

.mc_label{
  display: block;
}
