body{
  background-color: black;
  font-family: Roboto;
}

#logo {
  margin: 0 auto;
  display: block;
}


.main-content{
  color: white;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin: 20px 20px 80px 20px;
}

.main-content p{
  max-width: 800px;
  margin: 10px auto;
}

#mc_embed_signup{
  text-align: center;
  font-size: 20px;
  color: white;
}

.mc_label{
  display: block;
  color: white;
  font-weight: 300;
  padding-bottom: 15px;
}

.mc_email{
  font-size: 14px;
  border: none;
  padding: 5px 10px 5px 10px;
}

.mc_submit{
  background-color: #EA357D;
  color: white;
  border: none;
  font-size: 14px;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
  margin-left: 10px;
}

h3{
  color: white;
  font-size: 12px;
  text-align: center;
  margin: 60px 0 60px 0;
}
